RewriteEngine On
RewriteBase /

# Redirect non-www to www (301 permanent)
RewriteCond %{HTTP_HOST} ^checkkub\.com$ [NC]
RewriteRule ^(.*)$ https://www.checkkub.com/$1 [R=301,L]

# Check if the request is for a physical file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Forward all other requests to the Node.js app running on port 3000
RewriteRule ^(.*)$ http://localhost:3000/$1 [P,L]
